<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/layout :: html_head('Home - Braindribbler')}"></head>

<body>

    <div th:replace="~{fragments/layout :: header}"></div>

    <main class="content">
        <h2>Welcome to the Recipe Portal</h2>
        <p th:text="${message}">Placeholder context.</p>

        <p>Looking for a specific dish? Use our central database filter:</p>
    </main>

    <div th:replace="~{fragments/layout :: footer}"></div>

</body>

</html>